img{
    max-width: 100%;
}
/* Switch CSS */
.switch_options{
    display: block;
}
.switch_options:before,
.switch_options:after{
    content:'.';
    display:block;
    overflow:hidden;
    visibility:hidden;
    font-size:0;
    line-height:0;
    width:0;
    height:0;
}
.switch_options:after{
	clear:both;
}
.switch_options span{
    display: inline-block;
    float: left;
    padding: 4px 9px;
    margin: 0;
    cursor: pointer;
    font-size: 12px;
    font-weight: normal;
    color: #555;
    border: 1px solid #aaa;
    text-transform: uppercase;
    line-height: 16px;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 0%,#e5e5e5 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */

}
.switch_options span:first-of-type{
    border-radius: 2px 0 0 2px;
    border-right: 0;
}
.switch_options span:last-of-type{
    border-radius: 0 2px 2px 0;
    border-left: 0;
}
.switch_options span:hover{
    background: #fafafa;
}
.switch_options span.selected{
    background: #0bb1af; /* Old browsers */
    background: -moz-linear-gradient(top,  #0bb1af 0%, #0bb1af 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0bb1af), color-stop(100%,#0bb1af)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #0bb1af 0%,#0bb1af 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #0bb1af 0%,#0bb1af 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #0bb1af 0%,#0bb1af 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #0bb1af 0%,#0bb1af 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0bb1af', endColorstr='#0bb1af',GradientType=0 ); /* IE6-9 */
    border-color: #0bb1af;
    color: #fff;
}

label.ui-button.ui-widget {
    display: inline-block;
    border: 2px solid #fff;
    max-width: 46%;
    height: auto !important;
}

label.ui-button.ui-widget.ui-state-active {
    border: 2px solid #ccc;
}
/*User stick note*/
.user_sticky_note {
  background-color: #fdffbd;
  padding: 4px;
}

h3.sticky_title {
  font-size: 22px !important;
  margin-top: 12px;
  margin-bottom: 11px;
}

span.sticky_info_row {
  display: block;
  line-height: 23px;
}

label.row-element {
  font-weight: bold;
}

label.row-element.more-detail{
  color: #ff0000;
}
.user_sticky_note a:hover{
  color: #f00;
}

.customize-text_editor_desc a {
  background-color: #C85759;
  padding: 5px;
  color: #fff;
  border-radius: 5px;
  margin: 5px 0;
  display: inline-block;
  transition:all ease 0.3s;
  -webkit-transition:all ease 0.3s;
  -moz-transition:all ease 0.3s;
}
.customize-text_editor_desc a:hover {
  background-color: #fff;
  color: #C85759;
}
.customize-text_editor_desc span {
  background-color: #fff;
  color: #C85759;
  padding: 5px;
  margin: 5px 0;
  display: inline-block;
}

.sticky_info_row .button{
  width: 100%;
  margin: 2px 0;
  text-align: center;
}
.sticky_info_row a {
  color: #C85759;
}

.upgrade-pro{
  background-color: #0ab0ae;
  color: #FFF !important;
  font-size: 12px;
  padding: 2px;
  line-height: 1;
  display: block;
  margin-top: 6px;
  text-align: center;
  width: 90%;
  margin: 0 auto;
}
.upgrade-pro-demo{
  background-color: #0ab0ae;
  color: #FFF !important;
  font-size: 20px;
  line-height: 1;
  display: block;
  margin-top: 6px;
  text-align: center;
  padding: 10px;
  box-shadow: 0 0 5px #fff inset;
  border-radius: 12px;
  font-weight: bolder;
  /*width: 90%;*/
  margin: 0 auto;
}
.upgrade-pro-demo:hover{
  color: #0ab0ae !important;
  background: #fff;
  box-shadow: 0 0 5px #0ab0ae inset;  
}
.sticky_info_row .button{
  width: 100%;
  margin: 2px 0;
  text-align: center;
}
.notice-up{
  background: #fff;
  padding: 10px;
}